.app-container{
  display: flex;
  justify-content: space-between;
}

.form-container{
  width: 45%;
}

.card-container{
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.user-card{
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
}

.user-card p{
  margin: 5px 0;
}

.user-card button{
  margin-right: 5px;
}